@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}
@if (User.Identity.Name.ToString()=="admin")
{
    
<div id="main-container">
    <h1 class="logo">Scrap-Metal</h1>
    <div id="button">
        <a href=@Url.RouteUrl("Arraiving") class="waves-effect waves-light btn-large layout-button-1">Arraiving</a>
        <a href=@Url.RouteUrl("Consumption") class="waves-effect waves-light btn-large layout-button-2">Consumption</a>
    </div>
</div>
}
<p>Not Authentificated</p>